.input {
	min-height: 2rem;
	min-width: 350px;
	padding: 5px;
	margin: 1rem;
	border: 1px solid #333;
}

.button {
	height: 2rem;
	padding: 5px;
	margin: 5px;
	text-transform: uppercase;
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 2px;
}
